<%= form_for @chatroom do |f| %>
	<div class="row">
		<div class="col-md-8 center">
			<%= f.label :topic %>
			<%= f.text_field :topic %>
		</div>
		<div class="col-md-8 center">
			<%= f.submit class: "btn btn-success" %>
		</div>
	</div>
<% end %>
<div class="clearfix"></div><br>