<h2> Our Gallery</h2>
	</div>
<!-- //banner -->
<!--gallery-->
	<div id="gallery gal-page-agileits-w3layouts" class="welcome gallery">
		<div class="container">
			<div class="gallery-info">
				<div class="col-md-6 gallery-grids glry-grid1">
					<div class="gallery-grids-top">
						<a href="#portfolioModal1" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
							<img src="images/gg1.jpg" class="img-responsive" alt=""/>
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="images/search.png" alt=""/>
								</span>					
							</div>
						</a>
					</div>
					<div class="gallery-grids-top">
						<div class="col-md-6 bottom-grids">
							<a href="#portfolioModal2" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
								<img src="images/gg2.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<span class="b-animate b-from-left">
										<img class="img-responsive" src="images/search.png" alt=""/>
									</span>					
								</div>
							</a>
						</div>
						<div class="col-md-6 bottom-grids ">
							<a href="#portfolioModal3" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
								<img src="images/gg3.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<span class="b-animate b-from-left">
										<img class="img-responsive" src="images/search.png" alt=""/>
									</span>					
								</div>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 gallery-grids glry-grid1">
					<div class="gallery-grids-top">
						<div class="col-md-6 bottom-grids2 ">
							<a href="#portfolioModal4" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
								<img src="images/gg4.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<span class="b-animate b-from-left">
										<img class="img-responsive" src="images/search.png" alt=""/>
									</span>					
								</div>
							</a>
						</div>
						<div class="col-md-6 bottom-grids2 ">
							<a href="#portfolioModal5" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
								<img src="images/gg5.jpg" class="img-responsive" alt=""/>
								<div class="b-wrapper">
									<span class="b-animate b-from-left">
										<img class="img-responsive" src="images/search.png" alt=""/>
									</span>					
								</div>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="gallery-grids-top ">
						<a href="#portfolioModal6" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
							<img src="images/gg6.jpg" class="img-responsive" alt=""/>
							<div class="b-wrapper">
								<span class="b-animate b-from-left">
									<img class="img-responsive" src="images/search.png" alt=""/>
								</span>					
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- gallery Modals -->
				<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-hidden="true">
					<div class="modal-content g gal">
						<div class="close-modal" data-dismiss="modal">
							<div class="lr">
								<div class="rl"></div>
							</div>
						</div>
						<div class="portfolio-container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
										<h3>Our Gallery</h3>
										<hr>
										<img src="images/gg1.jpg" class="img-responsive img-centered" alt="">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-hidden="true">
					<div class="modal-content g">
						<div class="close-modal" data-dismiss="modal">
							<div class="lr">
								<div class="rl"></div>
							</div>
						</div>
						<div class="portfolio-container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
										<h3>Our Gallery</h3>
										<hr>
										<img src="images/gg2.jpg" class="img-responsive img-centered" alt="">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-hidden="true">
					<div class="modal-content g">
						<div class="close-modal" data-dismiss="modal">
							<div class="lr">
								<div class="rl"></div>
							</div>
						</div>
						<div class="portfolio-container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
										<h3>Our Gallery</h3>
										<hr>
										<img src="images/gg3.jpg" class="img-responsive img-centered" alt="">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-hidden="true">
					<div class="modal-content g">
						<div class="close-modal" data-dismiss="modal">
							<div class="lr">
								<div class="rl"></div>
							</div>
						</div>
						<div class="portfolio-container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
										<h3>Our Gallery</h3>
										<hr>
										<img src="images/gg4.jpg" class="img-responsive img-centered" alt="">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-hidden="true">
					<div class="modal-content g">
						<div class="close-modal" data-dismiss="modal">
							<div class="lr">
								<div class="rl"></div>
							</div>
						</div>
						<div class="portfolio-container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
										<h3>Our Gallery</h3>
										<hr>
										<img src="images/gg5.jpg" class="img-responsive img-centered" alt="">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-hidden="true">
					<div class="modal-content g">
						<div class="close-modal" data-dismiss="modal">
							<div class="lr">
								<div class="rl"></div>
							</div>
						</div>
						<div class="portfolio-container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
										<h3>Our Gallery</h3>
										<hr>
										<img src="images/gg6.jpg" class="img-responsive img-centered" alt="">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--//gallery Modals -->
			</div>
		</div>
	</div>
	<!--//gallery-->
<!-- Footer -->