<!-- banner -->

<!-- //banner -->


<!--sign-up-section-->
	<div class="signup" id="signup">
		<div class="container">
		<div class="head-top-w3ls"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
			<h5 class="title-w3">Play, Explore and Learn.</h5>
			<p>Discussion forums and chats of various disciplines.</p>
			<p>With unipipe you can discuss any arising topic and also take part in group chat as well as on on one with tutors.</p>
			<p>Sign up bellow to get started and enjoy our services</p>
			<div class="button2">
			  <h5><%= link_to "sign up now", new_user_registration_path %></h5>
			</div>
			</div>
			
	 </div>
<!--//sign-up-section-->
<!-- gallery -->
<div class="gallery" id="gallery">
<div>
<div class="head-top-w3ls"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
			<h5 class="title-w3">unipipe</h5>
			<p><center><b>Online university discussion group forum and free subscription for registered users. </b></center></p>
</div>
</div>
	<!-- //gallery -->